<div class="container mt-5">
  <h3>Add A Question</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="myForm">
  <div class="form-row">
    <div class="form-group col-md-9">
      <input type="text" class="form-control" [ngClass]="{'is-invalid': question.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted,'is-valid': !question.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted}"
       id="question" formControlName="question">
      <small id="passwordHelp" class="text-danger" *ngIf="question.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted">
        Question is required.
      </small>
    </div>

    <div class="form-group col-md-3">
      <select
       [(ngModel)]="selectedValue"
       id="questionType" class="form-control"
       formControlName="questionType"
       (change)="onChangeQuestionType($event.target.value)"
       [ngClass]="{'is-invalid': qType.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted,'is-valid': !qType.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted}"
       >
        <option *ngFor="let qType of questionTypes; let i = index" [value]="questionTypes[i].id">
          {{questionTypes[i].name}}
        </option>
      </select>
      <small id="passwordHelp" class="text-danger" *ngIf="qType.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted">
        Question Type is required.
      </small>
    </div>
  </div>


  <div formArrayName="options" *ngIf="qType.value == 2 || qType.value == 3">
    <div *ngFor="let option of options.controls; let i=index">

      <div [formGroupName]="i">
        <div class="form-row" *ngIf="options.controls[i].get('option').value != 'other'">
          <div class="form-group col-md-9">
            <input
             type="text"
             class="form-control"
             formControlName="option"
             placeholder="Add Answer option"
             [ngClass]="{'is-invalid': options.controls[i].get('option').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted,'is-valid': !options.controls[i].get('option').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted}"
             >
             <small id="passwordHelp" class="text-danger" *ngIf="options.controls[i].get('option').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted">
                Answer option is required.
            </small>
          </div>
          <div class="form-group col-md-3">
            <label class="inline-input-container">
              <input type="checkbox" formControlName="valid" [checked]="options.controls[i].get('valid').value">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-sm btn-outline-primary" (click)="addOption()" *ngIf="qType.value == 2 || qType.value == 3">Add Option</button>
  <div class="form-row mt-3" *ngIf="qType.value == 1">
    <div class="form-group col-md-12">
      <textarea  rows="10" cols="100" class="form-control" formControlName="paragraph">
      </textarea>
    </div>
  </div>

  <div class="form-row mt-3" >
    <div class="form-group col-md-12" *ngIf="qType.value == 2 || qType.value == 3">
      <label class="form-input-container">
        <input type="checkbox" (change)="onOtherOption()" [checked]="otherChecked">Include ‘Other’ option
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="form-group col-md-12">
      <label class="form-input-container">
        <input type="checkbox" formControlName="isRequired" > This question is required
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary">Submit</button>
  <br />
  <br />
  <button type="button" class="btn btn-outline-primary" (click)="onPreview()">Preview my answers ></button>
</form>

</div>
