<div class="container">
  <div class="row mt-5">
    <div class="col-sm-9">
    <h2>Welcome to the Demo Forms Builder</h2>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-outline-success" routerLink="/add-question">Add New Question</button>
    </div>
  </div>

  <div class="mt-5" *ngFor="let question of questions">
    <div class="row">
      <div class="col-sm-6">
        <h6 class="bold">{{question.question}}</h6>
      </div>
      <div class="col-sm-6">
        <span class="cursor" (click)="onEdit(question.id)">Edit</span> /
        <span class="cursor" (click)="onDelete(question.id)">Delete</span>
      </div>
    </div>
    <div class="row mt-3" *ngIf="question.questionType == '1'">
      <div class="col-sm-12">
        <div >
          <textarea  rows="10" cols="50" class="form-control" [required]="question.isRequired">
            {{question.paragraph}}
          </textarea>
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngIf="question.questionType == '2'">
      <div class="col-sm-12">
        <ul class="list-unstyled">
          <li *ngFor="let option of question.options">
            <label class="radio-container">
              <input type="radio">
              <span class="checkmark"></span>
            </label>
            <span class="ml-35" *ngIf="option.option != '__other'">{{option.option | titlecase}}</span>
            <span class="ml-35" *ngIf="option.option == '__other'">{{'other' | titlecase}}</span>
           </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3" *ngIf="question.questionType == '3'">
      <div class="col-sm-12">
        <ul class="list-unstyled">
          <li *ngFor="let option of question.options">
            <label class="input-container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <span class="ml-35" *ngIf="option.option != '__other'">{{option.option | titlecase}}</span>
            <span class="ml-35" *ngIf="option.option == '__other'">{{'other' | titlecase}}</span>
           </li>
        </ul>
      </div>
    </div>
  </div>
</div>
